fastapi>=0.110
uvicorn[standard]>=0.27

sqlmodel>=0.0.16
sqlalchemy>=2.0
pymysql>=1.1

redis>=5.0
python-dotenv>=1.0

pydantic>=2.6
pydantic-settings>=2.2

APScheduler>=3.10
tzdata>=2024.1
